version: 2
jobs:
  build:
    working_directory: ~/tmp
    docker:
      - image: circleci/node:7
        auth: 
        username: _json_key
        password: $GOOGLE_AUTH 
        environment:
        BASH_ENV: ~/.bashrc
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - setup_remote_docker
      - run: 
          name: Download & install Google SDK
          command: curl https://dl.google.com/dl/cloudsdk/channels/rapid/install_google_cloud_sdk.bash -o gcloud_install.sh && sudo sh gcloud_install.sh --disable-prompts --install-dir="/bin"
      - run: 
          name: Update PATH
          command: echo 'export PATH=/bin/google-cloud-sdk/bin:$PATH' >> $BASH_ENV
      - run:
          name: Install kubectl
          command: sudo gcloud --quiet container clusters get-credentials ${GOOGLE_CLUSTER_NAME}
      - run: 
          name: Dump Google Cloud Credentials to file
          command: echo ${GOOGLE_AUTH} > ${HOME}/gcp-key.json 
      - run:
          name: Authenticate with SA
          command: gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
      - run: 
          name: Activating gcloud configuration
          command: |
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            gcloud --quiet components update kubectl
      - run: 
          name: Build & push image to GCR
          command: |
            echo 'FROM alpine:latest' > ${HOME}/tmp/Dockerfile
            docker build -t eu.gcr.io/${PROJECT_NAME}/hello-ci:$CIRCLE_SHA1 .
            gcloud docker -- push eu.gcr.io/${PROJECT_NAME}/hello-ci:$CIRCLE_SHA1
      - run:
          name: Deploy new version of app
          command: kubectl patch deployment docker-hello-google -p '{"spec":{"template":{"spec":{"containers":[{"name":"react-redux","image":"eu.gcr.io/${PROJECT_NAME}/hello-ci:'"$CIRCLE_SHA1"'"}]}}}}'